<section>
    <div class="footer">
        <div class="container">
            <div class="media-container-row content text-white">
                <div class="col-12 col-md-4" >
                    <div class="media-wrap" style="margin-top: 30px;overflow: hidden;">
                        <a href="#top">
                            <img src="assets/images/isomatriclogo.png" style="height: 85%;width: 85%" alt="Isomatric" title="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-4 mbr-fonts-style display-7" style="padding-left: 30px;">
                    <h5 class="pb-3" style="color: #6D6D6D">
                        Office Address
                    </h5>
                    <p class="mbr-text" style="color: #767576;">
                        GF-10, Kirtan Appartment,<br>
                       Near Vijaynagar Railway Crossing,<br>
                       Nava Vadaj, Ahmedabad - 380013, <br>Gujarat, India.
                    </p>
                </div>
                <div class="col-12 col-md-4 mbr-fonts-style display-7">
                    <h5 class="pb-3" style="color: #6D6D6D">
                        Contact Us
                    </h5>
                    <div class="soc-item" style="font-size: 22px;">
                                    <img src="assets/images/whatsapplogo.png" style="width: 10%;height: 10%;">&nbsp;&nbsp;<label class="mbr-text" style="color: #767576;font-size: 18px;">
                        +91 7573010102 / 03
                    </label>
                     </div>
                      <div class="soc-item"  style="margin-top: 5px;font-size: 22px;">
                                  <img src="assets/images/maillogo.png" style="width: 10%;height: 10%;color: red;">&nbsp;&nbsp;<label class="mbr-text" style="color: #767576;font-size: 18px;">
                       isomatricap@gmail.com
                    </label>
                    <div class="">
                        <p class="mbr-text" style="color: #767576;font-size: 40px;"> <label style="color: #767576;font-size: 18px;font-weight: bold;">Follow Us:</label>
                        <a class="follow_us" href="https://instagram.com/isomatricap/" target="_blank"><img src="assets/images/instagramlogo.png" style="width: 10%;height: 10%;"></a>
                         <a class="follow_us" href="https://www.facebook.com/isomatricap/" target="_blank"><img src="assets/images/fblogo.png" style="width: 10%;height: 10%;"></a>
                    </p>     
                    </div>
                    </div>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-sm-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-sm-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7" style="color: #6D6D6D">
                            © Copyright 2018-2019 Isomatric - All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-6 align-right">
                        <p class="mbr-text" style="color: #6D6D6D">
                        Developed & Managed by&nbsp;<a href="#top" style="font-weight: bold;">Isomatric</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
