<form class="example-form">
     <mat-form-field class="example-half-width">
         <mat-label>Your Name</mat-label>
        <input matInput placeholder="Enter Your Name" value="">
    </mat-form-field>
           
    <mat-form-field class="example-half-width">
         <mat-label>Phone Number</mat-label>
         <input matInput placeholder="Enter Phone Number" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Your Email</mat-label>
        <input matInput placeholder="Enter Email" value="">
   </mat-form-field>
</form>