<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      
      <mat-list role="SideNavList">
        <mat-list-item role="HOME">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>HOME
        </mat-list-item>
        <mat-list-item role="PRODUCTS">
            PRODUCTS
        </mat-list-item>
        <mat-list-item role="DOWNLOAD">
            DOWNLOAD
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-toolbar style="background-color:#d42828;color: white;" class="example-toolbar">
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">Isomatric</h1>
        <button type="button" mat-button (click)="drawer.toggle()">
            <img>
        </button>
    </mat-toolbar>
</mat-drawer-container>