.Gallery{
    float: left;width: 100%;margin-top: 15px;
}
.container {
    display: flex;
    height: 200px;  
}
.container img {
width: 300px;
object-fit: cover;
margin: 5px;
}

.g-overlay {
min-width: 320px;
}

.lightbox-example, .gallerize-example {
margin: 2em;
float: left;
}
p img:hover{
    cursor:-moz-zoom-in !important;
    cursor:-moz-zoom-in !important; 
    cursor:-webkit-zoom-in !important; 
    cursor:zoom-in !important;
}
