<mat-card class="product-card" *ngFor="let subproduct of SubProducts">
    <mat-card-header>
      <mat-card-title>{{subproduct.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{subproduct.thumbnailURL}}" alt="Photo of a Shiba Inu">
    <mat-card-content style="min-height: 220px;">
      <p class="CardProductDetail">
        {{subproduct.detail}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="example-button-row">
            <button mat-raised-button type="submit" routerLink="/ProductDetail/{{subproduct.title}}">More...</button>
        </div>
    </mat-card-actions>
</mat-card>




