<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-list role="SideNavList">
        <mat-list-item role="HOME">
           <mat-icon class="material-icon" aria-hidden="false">home</mat-icon> <a (click)="drawer.toggle()" routerLink="/home">HOME</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="PRODUCTS">
            <mat-icon class="material-icon" aria-hidden="false">category</mat-icon><a (click)="drawer.toggle()" routerLink="/Products">PRODUCTS</a>
        </mat-list-item>
        <mat-list-item role="PRODUCTS">
          <a (click)="drawer.toggle()" routerLink="/Metal Exterior Louvers">Metal Exterior Louvers</a>
        </mat-list-item>  
        <mat-list-item role="MetalFalseCeilings">
         <a (click)="drawer.toggle()" routerLink="/Metal False Ceilings">Metal False Ceilings</a>
        </mat-list-item>
        <mat-list-item role="WoodenTexture">
          <a (click)="drawer.toggle()" routerLink="/Wooden Texture">Wooden Texture</a>
         </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="ProjectPhotos">
          <mat-icon class="material-icon" aria-hidden="false">collections</mat-icon><a (click)="drawer.toggle()" routerLink="/ProjectPhotos">Project Photos</a>
         </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="DOWNLOAD">
          <mat-icon class="material-icon" aria-hidden="false">cloud_download</mat-icon><a (click)="drawer.toggle()" routerLink="/Download">DOWNLOAD</a>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-toolbar class="example-toolbar">
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
        <span><img class="isomatriclogosmall" routerLink="/home" src="assets/isomatriclogo.png"></span>
    </mat-toolbar>
   <router-outlet></router-outlet>
</mat-drawer-container>