<div class="fitTodiv">
    <h1 class="productTitle">Wooden Texture</h1>
    <mat-divider></mat-divider>
    <br>
    <section>
        <div class="col-md-12">
            <div class="col-md-7">
                <img class="fitTodiv" style="box-shadow: 1px 1px 3px gray;" src="assets/placeholder.jpg">
            </div>
            <div class="col-md-5">
                <mat-card> 
                    <mat-tab-group>
                        <mat-tab label="Features">
                            <p style="padding-top: 25px;" class="discription20">At present, natural Wood finish concept is increasing widely in ceilings,cladding & acoustics. The desired wooden look can be obtained while enjoying the familiar advantages of metal false ceilings. The creative possibilities are almost unlimited, with aesthetic and reliable functionality.</p>
                        </mat-tab>
                        <mat-tab label="Technical Details">
                            <p style="padding-top: 25px;" class="discription20">At present, natural Wood finish concept is increasing widely in ceilings,cladding & acoustics. The desired wooden look can be obtained while enjoying the familiar advantages of metal false ceilings. The creative possibilities are almost unlimited, with aesthetic and reliable functionality.</p>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </div>
        </div>
    </section>
    <section>
        <div class="col-md-12" style="background-color: lightblue;">
            
        </div>
    </section>
</div>
