<div class="fitTodiv">
    <h1 class="title">Wooden Texture</h1>
    <mat-divider></mat-divider>
    <br>
    <div>
        <div class="col-md-12">
            <mat-card class="col-md-5"> 
                <mat-tab-group>
                    <mat-tab label="Features">
                        <p style="padding-top: 25px;" class="discription20">At present, natural Wood finish concept is increasing widely in ceilings,cladding & acoustics. The desired wooden look can be obtained while enjoying the familiar advantages of metal false ceilings. The creative possibilities are almost unlimited, with aesthetic and reliable functionality.</p>
                    </mat-tab>
                    <mat-tab label="Technical Details">
                        <p style="padding-top: 25px;" class="discription20">At present, natural Wood finish concept is increasing widely in ceilings,cladding & acoustics. The desired wooden look can be obtained while enjoying the familiar advantages of metal false ceilings. The creative possibilities are almost unlimited, with aesthetic and reliable functionality.</p>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
            <span class="col-md-1"></span>
            <div class="col-md-7">
                <img style="height: 60%;width: 100%;" src="assets/Original/Products/Wooden Texture/wooden_texture.jpeg">
            </div>
        </div>
    </div>
</div>
