/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-icon{
    color: #555555;
}
a{
    color: #555555 !important;
    text-decoration: none !important;
}
a:hover{
    color: #ff2929 !important;
    text-decoration: none !important;
    padding-left: 3px !important;
}
a:active,a:focus{
    color: #ff2929 !important;
    text-decoration: none !important;
}
.isomatriclogosmall{
    width: 30%;
    height: 30%;
}